.multipleImagesContainer{
    /* background-color: darkolivegreen; */
    margin-top: 50px ;
    margin-bottom: 50px;
}
.multipleTextWrapper{
  
h1{
    font-size: 60px;
    width: 70vw;
    margin-left: 180px;
    /* margin-right: 50px; */
   
}
}

.multipleImage{
   img{
     width: 100vw;
     height: 380px;
   }
}

.organize{
    color: #4285F4;
}

.information{
 color: #EA4335;
}
.universal{
 color: #34A853;
}
.useful{
 color: #E37400;
}

@media (max-width:500) {
    .multipleImage{
        img{
          width: 100%;
          object-fit: cover;
        }
    }
    
    .multipleTextWrapper{
  
h1{
    background-color: #E37400;
font-size: 2.25rem;
    line-height: 1.2222222222;
    font-weight: 400;
    letter-spacing: -.25px;
}
}
    
}
