.geminiLiveContainer{
    background-color: #E8F0FF;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 150px;
}

.geminiLiveText{
      /* background-color: mediumpurple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    /* width: 400px; */

    h1{
        font-size: 50px;
    }

    p{
        font-size: 20px;
        width: 380px;
        text-align: center;
      
    }

}
img{
    width: 465px;
    height: 260px;
}

.button{
    background-color: #1A73E8;
     font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    padding: 18px 40px;
    border: none;
    outline: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    margin-bottom: 80px;
    cursor: pointer;
  
}
.button:hover{
    background-color: #185ABC;
}

@media (max-width:500px) {
    .button{
        min-width: 90%;
    }
  .geminiLiveContainer{
 
   
    display: flex;
    justify-content: center;
     flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    margin: 0px 40px ;
    padding-bottom: 30px;
  
   

  }  

  .geminiLiveText{
    margin-left: 60px;
     h1{
   font-size: 40px;
 }

 p{
    font-size: 17px;
    /* max-width: 100%; */
 }
}

.geminiLiveImage{
    margin-left: 80px;
  
    /* display: flex;
    flex-direction: row; */
     img{
        width: 350px;
        height: 260px;
       
    
      
      
    }

}
}
