.headerDiv{
    /* background-color: red; */
    display: flex;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.logo{
    img {
        width: 100px;
    }
}

.navigation{
    display: flex;
    gap: 20px;
    font-size: 15px;
}