.headerDiv{
    /* background-color: red; */
    display: flex;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.googleLogo{
    img {
        width: 80px;
        height: 30px;
        padding-left: 20px;
    }
}

.navigation{
    display: flex;
    gap: 20px;
    font-size: 15px;
}