.headerDiv{
    /* background-color: red; */
    display: flex;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.hamburger{
  
   
 img{
     width: 60px;
    height: 40px;
    display: none;

 }
}

.googleLogo{
    img {
        width: 100px;
        height: 30px;
        padding-left: 20px;
    }
}

.navigation{
    display: flex;
    gap: 20px;
    font-size: 15px;
   
}



   
@media (max-width:500px) {
    .navigation{
        display: none;
    }
   
    .hamburger{
        img{
         display: block;
        background: none;
        border: none;
        font-size: 28px;
        cursor: pointer;
        }
        
    }
}
