.outreachContainer{
    /* background-color: hotpink; */
  
}
.outreachWrapper{
    margin: 20px 100px;

}
.outreachText{
text-align: center;
margin-bottom: 40px;
}
.outreachGrid{
 display: flex;
 gap: 40px;


}
.sustainabilityWrapper{
   /* background-color: saddlebrown; */
   width: 650px;
   height: 900px;
   border-radius: 20px;
   /* margin: 30px 30px; */
   border: 1px solid black;

}

.sustainabilityWrapper:hover{
    box-shadow: 2px 4px 8px rgba(69, 50, 245, 0.6);
    cursor: pointer;
}


.sustainabilityImage{
    img{
            width: 550px;
    height: 480px;
     border-radius: 20px;
       margin: 40px 40px;

    }

}

.sustainabilityText{
    padding-left: 40px;
 
    h5{
        font-size: 25px;
    }

        p{
        font-size: 16px;
    }
}

.googlewomenpixel{
    display: flex;
   
    flex-direction: column;
    gap: 40px;
}

/* .googlewomenpixel{
   display: grid;

} */

.googlethreeWomen{
   /* background-color:fuchsia; */
   width: 350px;
   height: 450px;
   border-radius: 20px;
    border: 1px solid black;

   img{
    width: 300px;
    height: 150px;
    border-radius: 20px;
      margin: 30px 25px;
   }

}

.googlethreeWomen:hover{
    box-shadow: 2px 4px 8px rgba(69, 50, 245, 0.6);
    cursor: pointer;
}

.threeWomenText{
   
  h1{
    font-size: 30px;
  }
  p{
    font-size: 15px;
  }
    text-align: block;

}

.googlebluePixel{
     /* background-color:green; */
   width: 345px;
   height: 413px;
   border-radius: 20px;
   border: 1px solid black;
 
   img{
     width: 300px;
    height: 150px;
     border-radius: 20px;
      margin: 30px 25px;
   }

}
.googlebluePixel:hover{
    box-shadow: 2px 4px 8px rgba(69, 50, 245, 0.6);
    cursor: pointer;
}

.googlebluePixelText{
   
    h1{
        font-size: 30px;
    }
   
    text-align: center; 
  
}
.gridarrow{
    img{
        width: 40px;
        height: 30px;
        margin-left: 400px;
       
    }
}

.gridarrow2{
    img{
        width: 40px;
        height: 30px;
        margin-left: 300px;
       
    }
}

/* .googlebluewrapper{
    display: inline-block;
} */


@media (max-width:500px) {

    .outreachText{
        /* background-color: red; */
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: auto;
  
   p{
     font-size: 15px;
     width: 70%;
     text-align: center;
     
   }
  
}
    .outreachWrapper{
        /* background-color: aquamarine; */
    display: grid;
    margin-left: 30px;
    height: auto;
    margin-top: 100px;

    }

.sustainabilityWrapper{
    background-color: #E8F0FE;
    display: grid;
    width: 400px;
    height: 400px;
    border-radius: 20px;
      
      margin-top: 300px;
  
}

.sustainabilityImage{
    background-color: darkorchid;
    img{
        width: 300px;
        height: 270px;
        border-radius: 20px;
        margin: 30px 30px;
    }
}


.outreachGrid{
    background-color: #FCE8E6;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    width: 420px;
    height: 222px;

      img{
    width: 30px;
    height: 20px;
    }
  

}




.googlethreeWomen{
    background-color: #E6F4EA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    width: 420px;
    height: 222px;

      img{
    width: 30px;
    height: 20px;
    }
  
}

.googlethreeWomenText{
      display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   p{
     font-size: 10px;
     width: 70%;
     text-align: center;
     
   }
}

.googlebluePixel{
    background-color: #FEF7E0;
      width: 420px;
    height: 500px;
    border-radius: 20px;
     p{
     font-size: 15px;
     width: 70%;
     text-align: center;
     
   }
  


    img{
     width: 360px;
        height: 270px;
        border-radius: 20px;
        margin: 30px 30px;
    }
}

.googlebluePixelText{
       display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   p{
     font-size: 15px;
     width: 65%;
     text-align: center;
     
   }

 

}

.gridarrow{
    text-align: center;
  
      img{
    width: 30px;
    height: 20px;
  
    }

}

.gridarrow2{
      text-align: center;
  
      img{
    width: 30px;
    height: 20px;
  
    }
}

}

