

.googleResearch1Container{
    background-color: #F3F5FB;
    display: flex;
    justify-content: center;
    padding: 70px 70px;
    gap: 45px;
    animation: popUp 2s ease-in-out;
   
   

}

.googleResearch1Text{
    display: flex;
    justify-content: center;
    align-items: center;
}



 @media (max-width: 500px) {

    .googleResearch1Container{
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       padding: 50px 50px;
       gap: 35px;
       animation: popUp 2s ease-in-out;
       overflow: hidden;

} 
 }

