.threeCardsDiv{
    background-color: #F3F5FB;
    height: 70vh;
    padding: 100px 70px;
   

   

}
/* .threeCardsWrapper{
    display: flex;
    justify-content: center;
    gap: 30px;
     border-radius: 20px;
   background-color: white;
    img{
        width: 345px;
        height: 192px;
    }
    p{
        font-size: 18px;
         width: 345px;
        
    }

}

.threeCardsArrow{
    /* background-color: hotpink; */
    display: flex;
    justify-content: flex-end;
    

   /* img{
        width: 30px;
        height: 30px;
    }
} */

/* @media (max-width: 500px) {

    .threeCardsWrapper{
        display: flex;
        flex-wrap: wrap;
}

} 




.threeCardsWrapper{
    background-color: white;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 500px 500px 500px;
    gap: 20px;


 img{
        width: 345px;
        height: 192px;
    }
}

.threeCardsText{
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.threeCardsArrow{
    /* background-color: hotpink; */
    display: flex;
    justify-content: flex-end;
    

   img{
        width: 30px;
        height: 30px;
    }
} */
