.googleResearch2Container{
    /* background-color: skyblue; */
    height: 70vh;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin:50px 30px;

}

 @media (max-width: 500px) {

    .googleResearch2Container{
       display: grid;
       /* grid-template-columns: repeat(3, 1fr); */
       padding: 50px 50px;
       gap: 35px;
       animation: popUp 2s ease-in-out;
       overflow: hidden;

} 
 }