.googleResearch2Container{
    /* background-color: skyblue; */
    height: 70vh;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin:50px 30px;

}

 @media (max-width: 500px) {

    .googleResearch2Container{
       display: grid;
       padding: 50px 50px;
       gap: 35px;
       height: auto;
       /* overflow: hidden; */

} 
 }