.fourCardsContainer{
    background-color: white;
    height: 80vh;

}

.fourCardsWrapper{
    /* background-color: ; */
    height: 80vh;
    margin: 0px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    overflow: hidden;

  

    


}
.productSupport{
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 343px;
    height: 165px;
    border-radius: 12px;
    cursor: pointer;
    outline: 1px solid black;
    padding-left: 30px;
   

    img{
        width: 120px;
        height: 165px;
        border-radius: 12px;
    }

    h4{
        padding-top: 20px;
    }
}
.productArrow{
    img{
        width: 50px;
        height: 30px;
        margin-top: 30px;
        /* margin-right: 30px; */
    }
}

.googleStore{
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 343px;
    height: 165px;
    border-radius: 12px;
    cursor: pointer;
    outline: 1px solid black;
    padding-left: 30px;
   

    img{
        width: 120px;
        height: 165px;
        border-radius: 12px;
    }

    h4{
        padding-top: 20px;
    }
}
.productArrow{
    img{
        width: 50px;
        height: 30px;
        margin-top: 30px;
        /* margin-right: 30px; */
    }
}


.googleAccount{
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 343px;
    height: 165px;
    border-radius: 12px;
    cursor: pointer;
    outline: 1px solid black;
    padding-left: 30px;
   

    img{
        width: 120px;
        height: 165px;
        border-radius: 12px;
    }

    h4{
        padding-top: 20px;
    }
}
.productArrow{
    img{
        width: 50px;
        height: 30px;
        margin-top: 30px;
        /* margin-right: 30px; */
    }
}


.accessibilty{
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 343px;
    height: 165px;
    border-radius: 12px;
    cursor: pointer;
    outline: 1px solid black;
    padding-left: 30px;
   

    img{
        width: 120px;
        height: 165px;
        border-radius: 12px;
    }

    h4{
        padding-top: 20px;
    }
}
.productArrow{
    img{
        width: 50px;
        height: 30px;
        margin-top: 30px;
        /* margin-right: 30px; */
    }
}

@media (max-width:500px) {
    .fourCardsWrapper{
        /* background-color: brown; */
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       padding: 50px 50px;
       gap: 35px;
       height: auto;
     
    }
    
}
