.chatGeminiContainer{
    /* background-color: darkseagreen; */
    height: 70vh;
}

.chatGeminiText{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 50px;
    }

    img {
        width: 60px;
        height: 60px;

    }
}

.button{
    background-color: #1A73E8;
     font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    padding: 18px 40px;
    border: none;
    outline: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    margin-bottom: 80px;
    cursor: pointer;
  
}
.button:hover{
    background-color: #185ABC;
}


@media (max-width:500px) {
    .button{
        min-width: 90%;
    }
  .chatGeminiContainer{
    /* background-color: aquamarine; */
   
    display: flex;
     flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 80px 0px;
    height: auto;
    img{
        width: 60px;
        height: 60px;
        max-width: none;
    }


  }  

  .chatGeminiText{
     h1{
   font-size: 40px;
 }

 p{
    font-size: 17px;
    text-align: center;
 }
}
}
