
.searchWaysContainer{
    height: 50vh;
    margin-top: 70px;
    margin-bottom: 50px;
   
      img{
        width: 62px;
        height: 62px;
     
    }

    button{
     background-color: #1A73E8;
     font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    padding: 18px 40px;
    border: none;
    outline: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    margin-bottom: 80px;
    cursor: pointer;
  
    }

    button:hover{
    background-color: #185ABC;
}

}



 .searchwayText{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 50px;
    }

}

@media (max-width:500px) {
   
  .searchWaysContainer{
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: auto;
    img{
        width: 40px;
        height: 40px;
        max-width: none;
    }


  }  

  .searchwayText{
     h1{
   font-size: 40px;
 }


}
 button{
        min-width: 90%;
    }
}

 
