.globeDiv{
background-color: white;


}

.globeText{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    

    img{
        width: 74px;
        height: 67px;
    }

    h1{
        font-size: 50px;
    }

    p{
        font-size: 20px;
    }

   
}

.globeTextBox{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.globeText2{
    background-color: #F2F5FA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 937px;
    height: 350px;
    border-radius: 20px;
    margin-top: 180px;
    padding-bottom: 120px;

  
}

.btn4{
    background-color: #1A73E8;
     font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    padding: 18px 40px;
    border: none;
    outline: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn4:hover{
    background-color: #185ABC;

}


.btn5{
    background-color: #1A73E8;
     font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    padding: 18px 40px;
    border: none;
    outline: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn5:hover{
    background-color: #185ABC;

}

@media (max-width:500px) {
    .btn4{
        min-width: 90%;
       
    }
    .btn5{
         min-width: 90%; 
    }

    .globeTextBox{
     display:flex;  
   height: auto;
    text-align: center;
    flex-wrap: wrap;
  


  } 
  .globeText{
    display: grid;
   height: auto;
    text-align: center;
    flex-wrap: wrap;
    overflow: hidden;
  
    img{
        display: flex;
        justify-self: center;
    }


  }  


    }
  
